@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar for thoughts */
.thoughts-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.thoughts-scroll::-webkit-scrollbar {
  display: none;
}

.fade-up {
  mask-image: linear-gradient(to top, black 0%, transparent 100%);
}
